#root{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    /* Primary color definitions */
    --mantine-primary-color-filled: #57bdfc;
    --mantine-primary-color-filled-hover: #98d7fe;
    --mantine-primary-color-light: #57bdfc;
    --mantine-primary-color-light-hover: #98d7fe;
    --mantine-primary-color-light-color: white;
}
