DB_HOST=postgres
DB_TYPE=postgres
DB_NAME=jawab
DB_USERNAME=jawab
DB_PASSWORD=jawab
DB_PORT=5432

PORT=5000

RUN_MIGRATIONS=true

SECRET_KEY=GVW023M0iuewhf74g834gtb9kjewbfytf456F3eg

MAIL_SENDER=contact90jawab@gmail.com
MAIL_APPILCATION_PASSWORD=viat qktv yqoy dwvo
MAIL_DOMAIN=gmail